
  <!-- Footer -->

  <footer id="footer">
    <div class="container-fluid">
      <% if (pageTitle === "Pascal Bliem") {%>
          <p>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <% } %>
      <p>© 2020 Pascal Bliem</p>
    </div>
  </footer>


</body>

</html>