<div class="skill-long-container" id="data-science-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/analysis.svg" class="skill-icon" alt="data-science" />
    <h3 class="skill-title">Data Science & Engineering</h3>
    <p class="skill-long-desc">
      Every business is now aiming at becoming data-driven and supporting
      decision making with data insights. Often there is value hidden in data,
      which cannot be discovered by simple reporting. To reveal hidden patterns,
      and hence, business value in data, I apply techniques from a variety of
      disciplines.<br /><br />
      Data Science is an interdisciplinary field in which we try to extract
      knowledge and insights from data by using methods from computer science,
      maths, and statistics. Data Engineering is the process of getting all the
      necessary infrastructure in place to make this process of knowledge
      extraction from data technically possible. <br /><br />
      I first got into data analysis during my work as a materials scientist and
      am now applying it in an enterprise setting, in which I facilitate the use
      of big data with statistical analysis, machine learning, visualization,
      data processing pipelines, data bases (SQL & NoSQL), and cloud computing
      solutions.
    </p>
  </div>
</div>

<div class="skill-long-container" id="ml-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img
      src="images/machine-learning.svg"
      class="skill-icon"
      alt="machine-learning"
    />
    <h3 class="skill-title">AI & Machine Learning</h3>
    <p class="skill-long-desc">
      The term AI is used to describe a lot of things, but in an applied
      settings, it usually refers to machine learning (ML); a technique used for
      all sorts of predictive analytics, classification, language processing,
      computer vision, and much more. <br /><br />
      Machine learning models are mathematical/statistical constructs that can
      be algorithmically trained to recognize patterns in data. The data is a
      crucial part of machine learning, as the models' internal parameters are
      mathematically optimized while training data is being passed through
      them.<br /><br />
      I train a variety of ML algorithms, such as gradient boosting machines,
      neural networks, support vector machines, clustering etc. on data to
      predict if customers are likely to cancel their contract or to buy a new
      product, to estimate future usage of a service, to recognize handwriting,
      to classify sentiment in text, and much more.
    </p>
  </div>
</div>

<div class="skill-long-container" id="cloud-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/cloud.svg" class="skill-icon" alt="cloud-computing" />
    <h3 class="skill-title">Cloud Computing Solutions</h3>
    <p class="skill-long-desc">
      With computer infrastructure and platform providers, it has become
      possible to set up any required hardware "for rent" in the cloud, in an
      easily scalable way. This hands off the physical purchase and maintenance
      of servers, sometimes even their administration, to the cloud data
      centers.<br /><br />
      Providers with a large service catalog, such as Amazon Web Services (AWS),
      allow entire solution stacks to be constructed, containing object storage,
      data bases, servers, routing, auto-scaling, load-balancers, or serverless
      & container services.<br /><br />
      I use cloud platforms such as AWS or Heroku to scalably host web servers
      (e.g. this website here) and data bases, store resources for my blog in S3
      object store, train neural networks on GPU processors in AWS Sagemaker or
      Google Colab, or serve machine learning models via REST APIs.
    </p>
  </div>
</div>

<div class="skill-long-container" id="web-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/webdev.svg" class="skill-icon" alt="web-development" />
    <h3 class="skill-title">Web Development</h3>
    <p class="skill-long-desc">
      The internet connects everything; from consumers searching information,
      over web services interacting with each other via APIs, to smart devices
      in the internet of things (IOT). The networking technologies and protocols
      used in web technologies provide a unified way of interaction between a
      variety of different technologies.<br /><br />
      Full-stack web development encompasses responsive design of websites and
      user interfaces with technologies such as HTML, CSS, and JavaScript,
      development of server-side code to handle serving of sites, routing, and
      data bases, as well as design of API services that can be integrated into
      other applications, e.g. for serving machine learning predictions.<br /><br />
      I build sites (such as this one here) with the aforementioned technologies
      or frameworks such as React.js, server-side code with the Express web
      application framework on Node.js and MongoDB or SQL data bases, as well as
      serving machine learning models in Python via Flask as a Docker container.
    </p>
  </div>
</div>

<div class="skill-long-container" id="teaching-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/teaching.svg" class="skill-icon" alt="teaching" />
    <h3 class="skill-title">Teaching & Volunteering</h3>
    <p class="skill-long-desc">
      I have always enjoyed helping others to understand complex phenomena and
      help them on their way to achieve their personal and professional goals.
      While still working at RWTH Aachen University, I got the chance to help
      preparing classes or labs, and assist in supervision and review of thesis
      works. After my time in academia, I traveled through southeast Asia and
      had the great privilege to volunteer as a teacher in several places.
      <br /><br />During my time in Vietnam I taught English and German, first
      at
      <a href="https://www.volunteersbase.com/asia/vietnam/jolly-club_i1273"
        >Jolly Club</a
      >
      in the remote mountain town of Ha Giang, then at
      <a href="http://ilec.edu.vn/">ILEC</a> in the capital Hanoi. After moving
      to Jogjakarta, Indonesia, I first taught maths, physics, and chemistry at
      <a href="https://jogjacommunityschool.org/">Jogjakarta Community School</a
      >, then about health, hygiene, and environmental sustainability at
      <a href="https://projectchild.ngo/">Project Child Indonesia</a
      >.<br /><br />
      Currently, I try to learn and teach as much as I can from and to my
      coworkers, support students who do their thesis work in our company,
      participate in meet-ups, and just generally exchange ideas on tech and
      science whenever I get the chance. Please don't hesitate to get
      <a href="#contact">in touch</a> with me!
    </p>
  </div>
</div>

<div class="skill-long-container" id="language-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/language.svg" class="skill-icon" alt="language-culture" />
    <h3 class="skill-title">Language & Cultural Exchange</h3>
    <p class="skill-long-desc">
      I am fascinated by the new worlds that open up when being immersed into a
      foreign culture and picking up bits of its language. I've learned English
      as a second language during my early teenage years and I'm still amazed by
      how much knowledge it has unlocked for me ever since, ranging from guitar
      tutorial videos to basically anything that has to do with programming.<br /><br />
      While I lived in Indonesia, I got fairly fluent in Indonesian, which added
      so much more quality to my stay there as I was able to deeply connect with
      my neighbors and learn about their lives. It also helped me with my
      Malaysian, every time I had to go there for a visa run. At the moment, I
      am co-hosting the
      <a href="http://www.pascal-bliem.com/suarajermanesia"
        >Suara Jermanesia Podcast</a
      >
      in which we talk (in Indonesian) about the experiences of an Indonesian
      living in Germany and vice versa. Living in Taiwan during a research
      internship also sparked my interest in the Chinese language, which I find
      very difficult though; hence, I'm still far from fluent.<br /><br />
      I've visited almost 30 countries and I'm always able to gain some new
      perspective on life and the world from those visits. Whenever possible, I
      try to get into contact with locals as much as I can, sometimes through
      couch surfing or hitchhiking. I think that understanding different
      cultures allows one to pick the best parts for oneself and become a better
      human. In case you need a place to stay, contact me on
      <a href="https://www.couchsurfing.com/people/pascal-bliem"
        >Couchsurfing</a
      >
      :)
    </p>
  </div>
</div>

<div class="skill-long-container" id="music-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img src="images/guitar.svg" class="skill-icon" alt="making-music" />
    <h3 class="skill-title">Making Music</h3>
    <p class="skill-long-desc">
      I've been hooked ever since I got my first cheap Stratocaster knock-off.
      Sure, I had always loved listening to music, but having my first guitar in
      my hands added a whole new dimension. There is something magical about
      being able to put your heart and soul into sound, created by whatever
      instrument is between your fingers.<br /><br />
      For me that first love was an electric guitar and blues music. Until
      today, plain blues is most of what I play, occasionally mixed with rock,
      hard rock, or metal. I also love the crafty aspect of musical instruments.
      I've build my favorite guitar myself, even winding the pickup coils and
      soldering the electronics.<br /><br />
      Besides electric and acoustic guitar, I've also been fooling around on
      other instruments, such as base, piano, violin, erhu, and wind or brass
      instruments. I've made it a habit to bring flutes as souvenirs from my
      travels, so by now, I have flutes from about five different countries.
    </p>
  </div>
</div>

<div class="skill-long-container" id="science-skill-container">
  <div class="skill-long-box">
    <button class="skill-long-close-btn">X</button>
    <img
      src="images/chemistry.svg"
      class="skill-icon"
      alt="materials-science"
    />
    <h3 class="skill-title">Materials Science</h3>
    <p class="skill-long-desc">
      The urge to understand what the world around me is made of and how it
      works has led me to study materials science and engineering, and more
      generally, physics. I realized that I needed to actively participate in
      research to really deepen my understand, which is why I picked up a
      research assistant position already in the second year of my Bachelors.<br /><br />
      During my research in experimental and computational
      <a href="https://www.institut-1a.physik.rwth-aachen.de/"
        >materials physics</a
      >
      and <a href="https://www.mch.rwth-aachen.de/">materials chemistry</a>,
      I've developed the faculty of scientific inquiry that still serves me
      today. I had the chance to conduct research internships at
      <a href="http://m102.nthu.edu.tw/~s102011510/index.html"
        >National Tsing Hua University</a
      >
      and
      <a href="https://www.physics.uu.se/research/materials-physics+/"
        >Uppsala University</a
      >, and overall, author or coauthor 9
      <a
        href="https://github.com/Pascal-Bliem/my-papers-and-theses#peer-reviewed-publications"
        >peer-reviewed publications</a
      >
      on synthesis and characterization of nano-scaled materials and thin films
      for applications in energy generation, electronics, and wear
      resistance.<br /><br />
      After this period in academic research, in which I gained the
      understanding I was looking for, I felt that it was time to shift my
      professional focus towards more applied tasks. Starting from the
      programming and statistics skills I acquired in computational research, I
      improved my software engineering abilities and worked on several machine
      learning projects, which eventually led up to my current profession as a
      Data Scientist.
    </p>
  </div>
</div>
